<!DOCTYPE html>
<html>
<head>
	<title>Finding Fido</title>
</head>
<body>
	<div id= 'container'>
		<div class='page-header'>
			<h1 id='heading'>Finding Fido</h1>
			
		</div>
		<%if session[:user_id] == nil%>
			<h3>Find your perfect pet!</h3>
			<p>We'll analyze your profile and match you to your perfect adoptable pet!</p>
			<div class="input-group">
				<form action="/users" method="POST">
					<input type="text" class="form-control" name="name" placeholder="Name"></input>
					<input type="email" class="form-control" name="email" placeholder="Email"></input>
					<textarea class="form-control" name="bio" placeholder="Enter a writing sample about yourself! *At least 300 words, please"></textarea>
					<input type="submit" value="Submit">
				</form>
				<%if session[:errors]%>
				<%=session[:errors]%>
				<%end%>
			</div>

			
		<%else%>
			<a href="/users">Start Over</a>
				<center><h2>Your top three perfect pets are: <%#= @matches %></h2></center>
				<!-- Toggle matching dogs here -->
				<%dog_sample = @matches.sample(3)%>
				<table class='table table-striped'  id="dog_toggle1" style="display:none">
					<th>Name</th>
					<th>Bio</th>
					<th>Picture</th>
					<h3 id="dog_sample1"><p><%=dog_sample[0]%></p></h3>
						<div><%@dogs = Dog.search("#{dog_sample[0]}")%>
							<% @dogs.each do |dog| %>
						<tr>
							<td><%= dog[0] %></td>
							<td><%= dog[1] %> <a href="https://www.petfinder.com/petdetail/<%=dog[3]%>" target="_blank">See more information</a></td>

							<td><img src=<%= dog[2]%>/></td>
						</tr>
							<% end %>
							</div>
							</table>
					<table class='table table-striped'  id="dog_toggle2" style="display:none">
					<th>Name</th>
					<th>Bio</th>
					<th>Picture</th>
					<h3 id="dog_sample2"><p><%=dog_sample[1]%></p></h3>
						<div><%@dogs = Dog.search("#{dog_sample[1]}")%>
							<% @dogs.each do |dog| %>
						<tr>
							<td><%= dog[0] %></td>
							<td><%= dog[1] %> <a href="https://www.petfinder.com/petdetail/<%=dog[3]%>" target="_blank">See more information</a></td>

							<td><img src=<%= dog[2]%>/></td>
						</tr>
							<% end %>
							</div>
							</table>
					<table class='table table-striped' id="dog_toggle3" style="display:none">
					<th>Name</th>
					<th>Bio</th>
					<th>Picture</th>
					<h3 id="dog_sample3"><p><%=dog_sample[2]%></p></h3>
						<div><%@dogs = Dog.search("#{dog_sample[2]}")%>
							<% @dogs.each do |dog| %>
						<tr>
							<td><%=dog[0] %></td>
							<td><%= dog[1] %> <a href="https://www.petfinder.com/petdetail/<%=dog[3]%>" target="_blank">See more information</a></td>

							<td><img src=<%= dog[2]%>/></td>
						</tr>
							<% end %>
						</div>
						</table>
					
					<!-- End toggle matching dogs here -->
				
			</div>
		</div>
		<%end%>
	</div>
</body>
</html>
